#cover {
	min-height: 150px;
}

#cover h1 {
	margin-top: 30px;
}

#content {
	display: block;
	min-height: 800px;
	padding: 50px 0 125px 0;
}

#content ul {
	margin: 35px auto;
	display: inline-block;
	text-align: center;
}

#content ul > li {
	float: left;
}

#content ul > li > a {
	font-size: 22px;
	text-transform: uppercase;
	color: #39a3d4;
	padding: 0 25px;
	line-height: 48px;
}

#content ul > li > a:hover,
#content ul > li > a:active,
#content ul > li > a:focus,
#content ul > li.selected a {
	display: block;
	border-radius: 4px;
	background-color: #39a3d4;
	color: white;
}

.gallery {
	font-size: 0;
}

.gallery a {
	display: inline-block;
	width: 33.33%;
	padding: 0;
}

.gallery img {
	width: 100%;
	height: auto;
	vertical-align: middle;
	opacity: .9;
}

#overlay {
	background: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	text-align: center;
}

#overlay img {
	margin-top: 10%;
	border: 5px solid white;
	border-radius: 5px;
}

.gallery-set {
	margin-bottom: 75px;
}

.back-to-top {
	color: #DE5728;
	position: fixed;
	bottom: 5px;
	right: 30px;
	z-index: 10;
	display: block;
	opacity: .85;
}

.back-to-top:hover {
	opacity: 1;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}

.pulse {
	-webkit-animation: pulse 1s infinite linear;
}

.round-round-baby {
	-webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    0%   { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
}

@-webkit-keyframes pulse {
    0%   { -webkit-transform: scale3d(1,1,1) }
    100% { -webkit-transform: scale3d(1.5,1.5,1.5) }
}


